In [1]:
# loading sql magic
%load_ext sql

In [3]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://bpl14377:D73AqL4IiiDdicQ9@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB?security=SSL

'Connected: bpl14377@BLUDB'

In [5]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
%sql select count(*) as "Total number of crimes recorded" from CHICAGO_CRIME_DATA

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(533,)]

In [6]:
# Problem 2: List community areas with per capita income less than 11000.
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA \
     where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [16]:
# Problem 3: List all case numbers for crimes involving minors?
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA \
     where DESCRIPTION like '%MINOR%'

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('HL266884',), ('HK238408',)]

In [62]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%sql select *from CHICAGO_CRIME_DATA \
     where PRIMARY_TYPE like '%KIDNAP%' and DESCRIPTION like '%CHILD%'

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [21]:
# Problem 5: What kind of crimes were recorded at schools?
%sql select distinct(PRIMARY_TYPE) as "Type of crime" from CHICAGO_CRIME_DATA \
     where LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [81]:
# Problem 6: List the average safety score for all types of schools.
%sql select "Elementary, Middle, or High School" as "School type", avg(SAFETY_SCORE) as "Average safety score" \
     from CHICAGO_PUBLIC_SCHOOLS \
     group by "Elementary, Middle, or High School"

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [82]:
# Problem 7: List 5 community areas with highest % of households below poverty line.
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA \
     order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc \
     fetch first 5 rows only

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [68]:
# Problem 8: Which community area(number) is most crime prone?
%sql select COMMUNITY_AREA_NUMBER, count(*) as frequency from CHICAGO_CRIME_DATA \
     group by COMMUNITY_AREA_NUMBER \
     order by frequency desc limit 1

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(25, 43)]

In [76]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA \
     where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale',)]

In [80]:
# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA \
     where COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA where COMMUNITY_AREA_NUMBER = 25 limit 1)

 * ibm_db_sa://bpl14377:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Austin',)]